<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SplashScreen.App"  tools:targetApi="31">
        <!-- android:theme is set to your main application theme -->

        <!-- Splash Screen Activity -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Splash">  <!-- Theme specifically for the Splash Activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <!-- This activity will inherit the application theme (Theme.SplashScreen.App)
             unless you explicitly set a different theme for it. -->
        <!-- If you want MainActivity to also use Theme.SplashScreen.App,
             you can remove the android:theme attribute from it,
             as it will inherit from the application tag.
             Or, if it needs a specific variation of the main theme, you'd define that and set it.
             The original had android:theme="@style/Theme.SplashScreen", which is now Theme.SplashScreen.App -->

    </application>

</manifest>
